{% extends 'baseAdmin.html.twig' %}
{% block content %}
    <style>
        #btn1{
            border:none;
            padding:5px 0 5px 0;
            border-radius:20px;
            background:#4ECDC4;
            font:bold 20px Arial;
            color:black;
            margin:10px 0px;
        }
        .bouton13{
            border-radius:20px;
            display: block;
            text-align: center;
            color: white;
        }
        #sup{
            width: 30px;
            height: 30px ;
        }
        #sup:hover{
            width: 35px;
            height: 35px ;
        }
    </style>
    <div  align="center">
        <table  >

            <H2>Liste des Group </H2>
            <tr> <th>Nom</th> <th>Description</th><th>Bloquer</th></tr>
            {%for c in listG %}
                <tr >

                    <td><a style="display: block" href="{{ path('GroupHome',{'id': c.id}) }}">{{ c.nom()}}</a></td>
                    <td class="desc">{{ c.description }}</td>

                    <td  ><a href="{{ path('Delete',{'id':c.id}) }}" ><img src="{{ asset('Sup.png') }}" id="sup"> </a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock  %}
{% block Style %}
    <style>
        table {
            border-width:0px;
            border-color:black;
            width:50%;
        }
        td {
            border-width:px;
            padding: 20px;
            border-color:black;
            width:50%;
            margin: 10px;

        }


    </style>
{% endblock %}